html {
     font-size: 10px;
}
 body {
     Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
     font-size: 1.6rem;
     line-height: 1.5;
     text-align: center;
     color: #333;
     margin: 0;
     background-color: #333;
}
 h1 {
     font-size: 10rem;
     margin-bottom: 0;
     margin-top: 0;
}
 #title2{
     font-size: 3rem;
     margin-bottom: 0;
     margin-top: 0;
}
 blockquote {
     font-style: italic;
     max-width: 60rem;
     margin: 0 auto 1rem auto;
     text-align: left;
}
 @media (max-width: 60rem) {
     h1 {
         font-size: 3.5rem;
         line-height: 1.2;
    }
}
 h2 {
     font-size: 3.25rem;
}
 a {
     color: #477ca7;
}
 a:visited {
     color: #74638f;
}
 #main {
     margin: 1rem 1rem;
     padding: 10rem;
     border-radius: 50rem;
     background: #eee;
}
 @media (max-width: 60rem) {
     #main {
         margin: 0;
    }
}
 img {
     max-width: 100%;
     display: block;
     height: auto;
     margin: 0 auto;
     border-radius: 10rem;
}
 #img-div {
     background: #eee;
     padding: 5rem;
     margin: 0;
     border-radius: 10rem;
}
 #img-caption {
     margin: 1rem 0 1rem 0;
}
 @media (max-width: 60rem) {
     #img-caption {
         font-size: 1.4rem;
    }
}
 #headline {
     margin: 1rem 0;
     text-align: center;
}
 ol {
     max-width: 45rem;
     margin: 0 auto 1rem auto;
     text-align: left;
     line-height: 1.6;
}
 li {
     margin: 1rem 0;
}
